.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Set your preferred background color */
}

.navbar-logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557E;
    font-size: 18px;
}

.navbar-menu .active {
    padding-bottom: 5px;
    border-bottom: 2px solid #FF4C24; /* Change to your preferred active color */
    transition: border-bottom 0.3s; /* Smooth transition */
}

.navbar-menu a {
    text-decoration: none;
    padding: 10px 15px; /* Add padding for better touch area */
    border-radius: 5px; /* Round corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
}

.navbar-menu a:hover {
    background-color: rgba(255, 76, 36, 0.1); /* Change hover effect */
    color: #FF4C24; /* Change text color on hover */
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-search-icon {
    position: relative;
}

.basket-icon {
    width: 50px; /* Increased size to 50px */
    height: auto; /* Maintain aspect ratio */
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #FF4C24;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.sign-in-button {
    background: linear-gradient(135deg, #FF4C24, #FF7F50);
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.sign-in-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-profile {
    position: relative;
}

.navbar-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    list-style: none;
}

.navbar-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-profile-dropdown li:hover {
    color: #FF4C24;
}

@media (max-width: 1050px) {
    .navbar-logo {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
}

@media (max-width: 900px) {
    .navbar-logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none; /* Hide menu on smaller screens */
    }
}
